In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("reading_tablet.csv")
data

,index,name,price,number_of_comment,brand,weight(g),screen_size,comment
0,0,Máy Đọc Sách Kindle Paperwhite Gen 10 - Hàng N...,2890000,290,Kindle,NaN,6.6” x 4.6” x 0.3” ( 167 x 116 x 8.18 mm),Máy sử dụng tốt mới dùng nên chưa đc quen lắm ...
1,0,Máy Đọc Sách Kindle Paperwhite Gen 10 - Hàng N...,2890000,290,Kindle,NaN,6.6” x 4.6” x 0.3” ( 167 x 116 x 8.18 mm),Ship hơi lâu Rất thất vọng dịch vụ giao hàng c...
2,0,Máy Đọc Sách Kindle Paperwhite Gen 10 - Hàng N...,2890000,290,Kindle,NaN,6.6” x 4.6” x 0.3” ( 167 x 116 x 8.18 mm),Mình đặt hàng vào ngày 71 và có hàng ngay 2 ng...
3,0,Máy Đọc Sách Kindle Paperwhite Gen 10 - Hàng N...,2890000,290,Kindle,NaN,6.6” x 4.6” x 0.3” ( 167 x 116 x 8.18 mm),Hài lòng về máy sau 1 tuần dùng Điểm trừ giao ...
4,0,Máy Đọc Sách Kindle Paperwhite Gen 10 - Hàng N...,2890000,290,Kindle,NaN,6.6” x 4.6” x 0.3” ( 167 x 116 x 8.18 mm),Giao hàng đúng thời gian dự kiến có 2 ngày Mì...
...,...,...,...,...,...,...,...,...
1388,24,Máy Tính Bảng Kindle Fire HD8 (8th) 16GB (2019...,2249000,165,Kindle,363.0,214 x 128 x 9.7 mm 8 inch,Cực kì hài lòng
1389,24,Máy Tính Bảng Kindle Fire HD8 (8th) 16GB (2019...,2249000,165,Kindle,363.0,214 x 128 x 9.7 mm 8 inch,máy hệ điều hành amazon nên xài dành cho nhu c...
1390,29,Máy Đọc Sách Boox Note Plus (Note+) - Hàng Nhậ...,11490000,1,BOOX,360.0,249.5 x 177.8 x 6.8 mm 10.3 inch,Dùng được hơn 5 tháng rồi có một số nhận xét n...
1391,31,Máy đọc sách Onyx Boox Note 2 - HÀNG CHÍNH HÃNG,13590000,1,Onyx Boox,NaN,NaN,Mình có mua chiếc Note 2 này từ máy đọc sách t...
1392,32,Máy Đọc Sách Likebook Muses - Hàng chính hãng,6590000,3,Likebook,NaN,193 x 136 x 8.5mm,NaN

In [3]:
review_predict = data['comment']

In [4]:
sentiment = pd.read_csv('text.csv',index_col=[0])
sentiment

      text_lb                                               text
2         1.0     Ấn tượng, tôi sẽ quay lại vào dịp nghỉ lần sau
3         1.0  Quá tuyệt vời , view đẹp , chủ nhà thân thiện ...
6         1.0  Phòng nghỉ đáng giá, tiện nghi cơ bản đầy đủ ^...
7         1.0  Thuận tiện cho việc đi thăm thú cảnh quan.\nBạ...
10        1.0                               Nhân viên thân thiện
...       ...                                                ...
6994      1.0  Anh chủ rất là nhiệt tình và vui vẻ, phòng sạc...
6995      1.0  Vị trí đẹp, mặc dù chúng tôi là khách duy nhất...
6996     -1.0  Không có chỗ đỗ xe, phải gửi xe ở ngoài rất tố...
6997      1.0  Gửi quản lý cấp cao của khách sạn, Rất tiếc hì...
6998      1.0   Phòng đẹp, nhân viên cực kỳ dễ thương và chu đáo

[5199 rows x 2 columns]

In [5]:
with open('vietnamese_stopwords.txt', encoding="utf8") as f:
    stopwords = []
    for line in f:
        stopwords.append("_".join(line.strip().split()))

In [6]:
import re
from pyvi import ViTokenizer
def preprocessor(text):
    corpus = []
    for i in range(0, len(text)):
        review = re.sub(r"http\S+", "", str(text[i]))
        review = re.sub(r"#\S+", "", review)
        review = re.sub(r"@\S+", "", review)
        review = re.sub('[_]',' ',review)
        review = re.sub('[^a-zA-Z_áàạảãăắằặẵẳâấầẩậẫđíỉìịĩóòỏọõôốồổộỗơớờởợỡéèẹẽẻêếềểệễúùủũụưứừửựữýỳỷỹỵÁÀẢÃẠĂẮẰẲẲẶẴÂẤẦẬẪẨĐÍÌỈỊĨÓÒỎỌÕÔỐỒỔỘỖƠỚỜỞỢỠÉÈẺẸẼÊẾỀỆỂỄÚÙỦŨỤƯỨỪỬỰỮÝỲỶỴỸ]',
                        ' ',review)
        review = ViTokenizer.tokenize(review)
        review = review.lower()
        review = review.split()
        review = [word for word in review if not word in  set(stopwords)]
        review = ' '.join(review)
        corpus.append(review)
    return corpus

In [7]:
X = sentiment['text'].values
corpus = preprocessor(X)

In [8]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf_vect = TfidfVectorizer(analyzer='word', max_features=30000)
tfidf_vect.fit(corpus) 
X_data_tfidf =  tfidf_vect.transform(corpus)

from sklearn.model_selection import train_test_split
X = X_data_tfidf
y = sentiment['text_lb'].values
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=102)

from sklearn.linear_model import LogisticRegression
clf = LogisticRegression(random_state=0)
clf.fit(X_train, y_train)

from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
predictions = clf.predict(X_test)
print('accuracy:',accuracy_score(y_test,predictions))

accuracy: 0.8759615384615385

In [9]:
from sklearn import svm
classifier = svm.SVC(probability=True)
classifier.fit(X_train, y_train)
train_predictions = classifier.predict(X_train)
predictions = classifier.predict(X_test)
print('accuracy:',accuracy_score(y_test,predictions))
print('confusion matrix:\n',confusion_matrix(y_test,predictions))
print('classification report:\n',classification_report(y_test,predictions))

accuracy: 0.885576923076923
confusion matrix:
 [[ 84 100]
 [ 19 837]]
classification report:
               precision    recall  f1-score   support

        -1.0       0.82      0.46      0.59       184
         1.0       0.89      0.98      0.93       856

    accuracy                           0.89      1040
   macro avg       0.85      0.72      0.76      1040
weighted avg       0.88      0.89      0.87      1040

In [10]:
X_1 = review_predict.values
corpus1 = preprocessor(X_1)
X_data_tfidf_1 =  tfidf_vect.transform(corpus1)

In [11]:
proba = classifier.predict_proba(X_data_tfidf_1)

In [12]:
df1 = pd.DataFrame(data=proba, columns=['Negative', 'Positive'])

In [13]:
data = pd.concat([data, df1], axis = 1).drop(columns = ['comment'])
data

,index,name,price,number_of_comment,brand,weight(g),screen_size,Negative,Positive
0,0,Máy Đọc Sách Kindle Paperwhite Gen 10 - Hàng N...,2890000,290,Kindle,NaN,6.6” x 4.6” x 0.3” ( 167 x 116 x 8.18 mm),0.493348,0.506652
1,0,Máy Đọc Sách Kindle Paperwhite Gen 10 - Hàng N...,2890000,290,Kindle,NaN,6.6” x 4.6” x 0.3” ( 167 x 116 x 8.18 mm),0.573394,0.426606
2,0,Máy Đọc Sách Kindle Paperwhite Gen 10 - Hàng N...,2890000,290,Kindle,NaN,6.6” x 4.6” x 0.3” ( 167 x 116 x 8.18 mm),0.366012,0.633988
3,0,Máy Đọc Sách Kindle Paperwhite Gen 10 - Hàng N...,2890000,290,Kindle,NaN,6.6” x 4.6” x 0.3” ( 167 x 116 x 8.18 mm),0.351514,0.648486
4,0,Máy Đọc Sách Kindle Paperwhite Gen 10 - Hàng N...,2890000,290,Kindle,NaN,6.6” x 4.6” x 0.3” ( 167 x 116 x 8.18 mm),0.407238,0.592762
...,...,...,...,...,...,...,...,...,...
1388,24,Máy Tính Bảng Kindle Fire HD8 (8th) 16GB (2019...,2249000,165,Kindle,363.0,214 x 128 x 9.7 mm 8 inch,0.151864,0.848136
1389,24,Máy Tính Bảng Kindle Fire HD8 (8th) 16GB (2019...,2249000,165,Kindle,363.0,214 x 128 x 9.7 mm 8 inch,0.462648,0.537352
1390,29,Máy Đọc Sách Boox Note Plus (Note+) - Hàng Nhậ...,11490000,1,BOOX,360.0,249.5 x 177.8 x 6.8 mm 10.3 inch,0.227148,0.772852
1391,31,Máy đọc sách Onyx Boox Note 2 - HÀNG CHÍNH HÃNG,13590000,1,Onyx Boox,NaN,NaN,0.546030,0.453970
1392,32,Máy Đọc Sách Likebook Muses - Hàng chính hãng,6590000,3,Likebook,NaN,193 x 136 x 8.5mm,0.041825,0.958175

In [14]:
group_data = data.groupby(['index', 'name', 'price', 'number_of_comment', 'brand', 'weight(g)', 'screen_size'], as_index=False, dropna=False).mean()
group_data['rank_point'] = group_data.number_of_comment * group_data.Positive
group_data

,index,name,price,number_of_comment,brand,weight(g),screen_size,Negative,Positive,rank_point
0,0,Máy Đọc Sách Kindle Paperwhite Gen 10 - Hàng N...,2890000,290,Kindle,NaN,6.6” x 4.6” x 0.3” ( 167 x 116 x 8.18 mm),0.268768,0.731232,212.057239
1,1,Máy đọc sách Kindle PaperWhite Gen 4 (10th) - ...,2890000,496,Kindle,182.0,167 x 116 x 8.18 mm 6 inch,0.319018,0.680982,337.766866
2,2,Máy Đọc Sách All New Kindle 2019 (10th) – Hàng...,2099000,122,Kindle,160.0,6 inch,0.293975,0.706025,86.135043
3,3,Máy đọc sách Kindle PaperWhite gen 4 (10th) - ...,3550000,105,Kindle,182.0,167 x 116 x 8.18 mm 6 inch,0.370586,0.629414,66.088514
4,4,Máy đọc sách All New Kindle Bản đặc biệt 8GB -...,1990000,15,Amazon,174.0,NaN,0.282226,0.717774,10.766615
5,5,Combo Máy Đọc Sách Kindle Paperwhite 4 Gen 10 ...,3030000,13,Kindle,350.0,6.6” x 4.6” x 0.3” ( 167 x 116 x 8.18 mm) 6 inch,0.212116,0.787884,10.242497
6,6,Máy đọc sách Kindle Oasis 3 (2019) - Amazon - ...,6788000,18,Kindle,191.0,NaN,0.239793,0.760207,13.683732
7,7,Máy tính bảng Kindle Fire HD8 Model 2020 - 32G...,2099000,10,Amazon,355.0,NaN,0.175831,0.824169,8.241687
8,8,Máy đọc sách Kindle Oasis 3 - Bản Mỹ - Hàng nh...,5900000,3,Amazon,NaN,NaN,0.119807,0.880193,2.640580
9,9,Máy Đọc Sách Kindle Paperwhite Gen 10 - Hàng Mỹ,2850000,20,Kindle,NaN,6.6” x 4.6” x 0.3” ( 167 x 116 x 8.18 mm),0.327852,0.672148,13.442956
10,10,Combo Máy Đọc Sách Kindle Paperwhite Gen 10th ...,3030000,15,Kindle,NaN,6.6” x 4.6” x 0.3” ( 167 x 116 x 8.18 mm),0.313827,0.686173,10.292588
11,11,Máy đọc sách Amazon Kindle Oasis 2 - dung lượn...,5650000,11,Kindle,NaN,NaN,0.264415,0.735585,8.091437
12,12,Combo Máy Đọc Sách Kindle Paperwhite Gen 10th ...,3030000,6,Kindle,NaN,6.6” x 4.6” x 0.3” ( 167 x 116 x 8.18 mm),0.200598,0.799402,4.796410
13,14,Máy tính bảng Kindle Fire HD8 Plus 2020 - Ram ...,2599000,3,Amazon,355.0,NaN,0.119807,0.880193,2.640580
14,15,Máy đọc sách Amazon Kindle Paperwhite 4 Gen 10...,2989000,12,Kindle,NaN,6.6” x 4.6” x 0.3” ( 167 x 116 x 8.18 mm),0.259559,0.740441,8.885293
15,17,Combo Máy Đọc Sách Kindle Paperwhite Gen 10th ...,3030000,9,Kindle,NaN,6.6” x 4.6” x 0.3” ( 167 x 116 x 8.18 mm),0.192283,0.807717,7.269453
16,18,Máy Đọc Sách Kindle Gen 10 - 2019 (4GB) - Hàng...,2099000,21,Kindle,NaN,NaN,0.223627,0.776373,16.303825
17,19,Máy Đọc Sách Boox Nova 2 - Hàng Chính Hãng,8790000,2,Onyx Boox,NaN,NaN,0.246361,0.753639,1.507278
18,20,Máy Đọc Sách Likebook Mars - Hàng chính hãng,4990000,3,Likebook,NaN,198 x 144 x 9.3 mm,0.184970,0.815030,2.445089
19,22,Máy Đọc Sách Likebook Ares - Hàng chính hãng,7490000,2,Likebook,268.0,138.7 x 198.2 x 8 mm,0.120314,0.879686,1.759373
20,23,Máy Đọc Sách Kindle PaperWhite Gen 10 - 2019 (...,3850000,3,Kindle,NaN,NaN,0.358690,0.641310,1.923931
21,24,Máy Tính Bảng Kindle Fire HD8 (8th) 16GB (2019...,2249000,165,Kindle,363.0,214 x 128 x 9.7 mm 8 inch,0.295466,0.704534,116.248167
22,29,Máy Đọc Sách Boox Note Plus (Note+) - Hàng Nhậ...,11490000,1,BOOX,360.0,249.5 x 177.8 x 6.8 mm 10.3 inch,0.227148,0.772852,0.772852
23,31,Máy đọc sách Onyx Boox Note 2 - HÀNG CHÍNH HÃNG,13590000,1,Onyx Boox,NaN,NaN,0.546030,0.453970,0.453970
24,32,Máy Đọc Sách Likebook Muses - Hàng chính hãng,6590000,3,Likebook,NaN,193 x 136 x 8.5mm,0.041825,0.958175,2.874524

In [15]:
rank_data = group_data.drop(columns=['index', 'name', 'brand', 'screen_size', 'number_of_comment', 'Negative', 'Positive'])
rank_data.values

array([[2.89000000e+06,            nan, 2.12057239e+02],
       [2.89000000e+06, 1.82000000e+02, 3.37766866e+02],
       [2.09900000e+06, 1.60000000e+02, 8.61350432e+01],
       [3.55000000e+06, 1.82000000e+02, 6.60885144e+01],
       [1.99000000e+06, 1.74000000e+02, 1.07666150e+01],
       [3.03000000e+06, 3.50000000e+02, 1.02424974e+01],
       [6.78800000e+06, 1.91000000e+02, 1.36837323e+01],
       [2.09900000e+06, 3.55000000e+02, 8.24168651e+00],
       [5.90000000e+06,            nan, 2.64057990e+00],
       [2.85000000e+06,            nan, 1.34429564e+01],
       [3.03000000e+06,            nan, 1.02925881e+01],
       [5.65000000e+06,            nan, 8.09143685e+00],
       [3.03000000e+06,            nan, 4.79641010e+00],
       [2.59900000e+06, 3.55000000e+02, 2.64057990e+00],
       [2.98900000e+06,            nan, 8.88529258e+00],
       [3.03000000e+06,            nan, 7.26945272e+00],
       [2.09900000e+06,            nan, 1.63038255e+01],
       [8.79000000e+06,            nan, 1.50727843e+00],
       [4.99000000e+06,            nan, 2.44508889e+00],
       [7.49000000e+06, 2.68000000e+02, 1.75937285e+00],
       [3.85000000e+06,            nan, 1.92393088e+00],
       [2.24900000e+06, 3.63000000e+02, 1.16248167e+02],
       [1.14900000e+07, 3.60000000e+02, 7.72851732e-01],
       [1.35900000e+07,            nan, 4.53970483e-01],
       [6.59000000e+06,            nan, 2.87452414e+00]])

In [16]:
pd.set_option('display.max_rows', rank_data.shape[0]+1)
rank_data[lambda col :rank_data.columns] = rank_data[lambda col :rank_data.columns].replace(r'\D+', np.NaN, regex=True)
rank_data

       price  weight(g)  rank_point
0    2890000        NaN  212.057239
1    2890000      182.0  337.766866
2    2099000      160.0   86.135043
3    3550000      182.0   66.088514
4    1990000      174.0   10.766615
5    3030000      350.0   10.242497
6    6788000      191.0   13.683732
7    2099000      355.0    8.241687
8    5900000        NaN    2.640580
9    2850000        NaN   13.442956
10   3030000        NaN   10.292588
11   5650000        NaN    8.091437
12   3030000        NaN    4.796410
13   2599000      355.0    2.640580
14   2989000        NaN    8.885293
15   3030000        NaN    7.269453
16   2099000        NaN   16.303825
17   8790000        NaN    1.507278
18   4990000        NaN    2.445089
19   7490000      268.0    1.759373
20   3850000        NaN    1.923931
21   2249000      363.0  116.248167
22  11490000      360.0    0.772852
23  13590000        NaN    0.453970
24   6590000        NaN    2.874524

In [17]:
from sklearn.impute import KNNImputer
data_imputed = rank_data.values
ix = [i for i in range(data_imputed.shape[1]) if i != 5]
X = data_imputed[:, ix]
imputer = KNNImputer()
imputer.fit(X)
Xtrans = imputer.transform(X)
X.shape

(25, 3)

In [18]:
rank_data = pd.DataFrame(Xtrans,index=rank_data.index, columns=rank_data.columns)

In [19]:
rank_data

         price  weight(g)  rank_point
0    2890000.0      286.4  212.057239
1    2890000.0      182.0  337.766866
2    2099000.0      160.0   86.135043
3    3550000.0      182.0   66.088514
4    1990000.0      174.0   10.766615
5    3030000.0      350.0   10.242497
6    6788000.0      191.0   13.683732
7    2099000.0      355.0    8.241687
8    5900000.0      234.6    2.640580
9    2850000.0      286.4   13.442956
10   3030000.0      286.4   10.292588
11   5650000.0      234.6    8.091437
12   3030000.0      286.4    4.796410
13   2599000.0      355.0    2.640580
14   2989000.0      286.4    8.885293
15   3030000.0      286.4    7.269453
16   2099000.0      281.4   16.303825
17   8790000.0      270.2    1.507278
18   4990000.0      252.0    2.445089
19   7490000.0      268.0    1.759373
20   3850000.0      286.4    1.923931
21   2249000.0      363.0  116.248167
22  11490000.0      360.0    0.772852
23  13590000.0      270.2    0.453970
24   6590000.0      234.6    2.874524

In [20]:
from sklearn.preprocessing import StandardScaler

Standard_scaler = StandardScaler()
Xtrans = Standard_scaler.fit_transform(Xtrans)

In [21]:
rank_data_scaled = pd.DataFrame(Xtrans,index=rank_data.index, columns=rank_data.columns)

In [22]:
from skcriteria import Data, MIN, MAX
ranking = Data(
    rank_data_scaled,
    [ MIN, MIN, MAX],
    cnames = rank_data.columns,
    weights = [100,1,10]
)

In [23]:
from skcriteria.madm import simple
dm = simple.WeightedSum(mnorm = "sum",wnorm = "sum")
dec = dm.decide(ranking)

In [27]:
rank_data['rank'] = dec.rank_[::-1]
rank_data.sort_values(by=['rank'])

         price  weight(g)  rank_point  rank
1    2890000.0      182.0  337.766866     1
2    2099000.0      160.0   86.135043     2
7    2099000.0      355.0    8.241687     3
5    3030000.0      350.0   10.242497     4
4    1990000.0      174.0   10.766615     5
6    6788000.0      191.0   13.683732     6
16   2099000.0      281.4   16.303825     7
11   5650000.0      234.6    8.091437     8
0    2890000.0      286.4  212.057239     9
12   3030000.0      286.4    4.796410    10
9    2850000.0      286.4   13.442956    11
13   2599000.0      355.0    2.640580    12
17   8790000.0      270.2    1.507278    13
10   3030000.0      286.4   10.292588    14
19   7490000.0      268.0    1.759373    15
14   2989000.0      286.4    8.885293    16
20   3850000.0      286.4    1.923931    17
15   3030000.0      286.4    7.269453    18
18   4990000.0      252.0    2.445089    19
8    5900000.0      234.6    2.640580    20
21   2249000.0      363.0  116.248167    21
22  11490000.0      360.0    0.772852    22
3    3550000.0      182.0   66.088514    23
24   6590000.0      234.6    2.874524    24
23  13590000.0      270.2    0.453970    25

In [28]:
cols_to_keep = ['index', 'name', 'brand']
group_data = group_data.drop(group_data.columns.difference(cols_to_keep), axis=1)

In [29]:
pd.concat([group_data, rank_data], axis=1, join="inner").to_csv('reading_tablet_done.csv')